<!-- <script type="text/javascript">
     let user = {a:5,b:8}
</script> -->
<% include partials/header %>

<% include partials/script %>

<% include partials/styles %>

  <div class="container">

    <header class="jumbotron">
      <div class="container">
        <h1>Book Store</h1>
        <p>Welcome to the Book Store</p>
        <p>
          <% if (session.user.role === 'admin') { %>
            <a class="btn btn-primary btn-lg" onclick='showNewModal()'>Add New Book: </a>
          <%} %>
        </p>
      </div>
    </header>

    <ul id="holder" class="row text-center" style="display:flex; flex-wrap: wrap;">


    </ul>

  </div>

  <div style='display: none' id='templates'>


    <div class="book col-lg-3 col-md-3">
      <div class="thumbnail">
        <div class="shrinked">
          <img>
        </div>

          <h5 class="title">
            title
          </h5>
          <button class="btn"></button>

      </div>
    </div>

  </div>



<div class="modal">
  <div class="modal-content">
    <span class="closeBtn">&times;</span>
      <br><br>
    <div class="modal-form">


    </div>
  </div>
</div>
  <% include partials/footer %>
