

<!-- <!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Auth444</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.css">
</head>

<body>

  <div class="ui fixed inverted menu">
    <div class="ui container">
      <div class="header item"><i class="code icon"></i>Auth</div>
      <a href="/" class="item">Home</a>
      <a href="/blogs/new" class="item">New Post</a>
    </div>
  </div> -->

<form class="ui form" action="/login" method="POST">
LOGIN
    <% if(err)   %>
    <%= err     %>
    <div class="field">
      <label>Username</label>
      <input type="text" name="username" placeholder="username">
    </div>
    <div class="field">
      <label>Password</label>
      <input type="password" name="password" placeholder="password">
    </div>
    <!-- <div class="field">
      <label>Roles</label>
      <input type="checkbox" name="roles" value="admin">Admin<br>
      <input type="checkbox" name="roles" value="regular">Regular<br>
    </div> -->
    <input class="ui violet big basic button" type="submit">
  </form>



<!-- </body>
</html> -->
